@import url(https://fonts.googleapis.com/css?family=Rubik:300,400);@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

*:active, :focus {
  outline: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../i/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'feather';
  src: url("../fonts//feather.eot?ebvxbj");
  src: url("../fonts//feather.eot?ebvxbj#iefix") format("embedded-opentype"), url("../fonts//feather.ttf?ebvxbj") format("truetype"), url("../fonts//feather.woff?ebvxbj") format("woff"), url("../fonts//feather.svg?ebvxbj#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\E900";
}

.icon-airplay:before {
  content: "\E901";
}

.icon-alert-circle:before {
  content: "\E902";
}

.icon-alert-octagon:before {
  content: "\E903";
}

.icon-alert-triangle:before {
  content: "\E904";
}

.icon-align-center:before {
  content: "\E905";
}

.icon-align-justify:before {
  content: "\E906";
}

.icon-align-left:before {
  content: "\E907";
}

.icon-align-right:before {
  content: "\E908";
}

.icon-anchor:before {
  content: "\E909";
}

.icon-aperture:before {
  content: "\E90A";
}

.icon-archive:before {
  content: "\E90B";
}

.icon-arrow-down-circle:before {
  content: "\E90C";
}

.icon-arrow-down-left:before {
  content: "\E90D";
}

.icon-arrow-down-right:before {
  content: "\E90E";
}

.icon-arrow-down:before {
  content: "\E90F";
}

.icon-arrow-left-circle:before {
  content: "\E910";
}

.icon-arrow-left:before {
  content: "\E911";
}

.icon-arrow-right-circle:before {
  content: "\E912";
}

.icon-arrow-right:before {
  content: "\E913";
}

.icon-arrow-up-circle:before {
  content: "\E914";
}

.icon-arrow-up-left:before {
  content: "\E915";
}

.icon-arrow-up-right:before {
  content: "\E916";
}

.icon-arrow-up:before {
  content: "\E917";
}

.icon-at-sign:before {
  content: "\E918";
}

.icon-award:before {
  content: "\E919";
}

.icon-bar-chart-2:before {
  content: "\E91A";
}

.icon-bar-chart:before {
  content: "\E91B";
}

.icon-battery-charging:before {
  content: "\E91C";
}

.icon-battery:before {
  content: "\E91D";
}

.icon-bell-off:before {
  content: "\E91E";
}

.icon-bell:before {
  content: "\E91F";
}

.icon-bluetooth:before {
  content: "\E920";
}

.icon-bold:before {
  content: "\E921";
}

.icon-book-open:before {
  content: "\E922";
}

.icon-book:before {
  content: "\E923";
}

.icon-bookmark:before {
  content: "\E924";
}

.icon-box:before {
  content: "\E925";
}

.icon-briefcase:before {
  content: "\E926";
}

.icon-calendar:before {
  content: "\E927";
}

.icon-camera-off:before {
  content: "\E928";
}

.icon-camera:before {
  content: "\E929";
}

.icon-cast:before {
  content: "\E92A";
}

.icon-check-circle:before {
  content: "\E92B";
}

.icon-check-square:before {
  content: "\E92C";
}

.icon-check:before {
  content: "\E92D";
}

.icon-chevron-down:before {
  content: "\E92E";
}

.icon-chevron-left:before {
  content: "\E92F";
}

.icon-chevron-right:before {
  content: "\E930";
}

.icon-chevron-up:before {
  content: "\E931";
}

.icon-chevrons-down:before {
  content: "\E932";
}

.icon-chevrons-left:before {
  content: "\E933";
}

.icon-chevrons-right:before {
  content: "\E934";
}

.icon-chevrons-up:before {
  content: "\E935";
}

.icon-chrome:before {
  content: "\E936";
}

.icon-circle:before {
  content: "\E937";
}

.icon-clipboard:before {
  content: "\E938";
}

.icon-clock:before {
  content: "\E939";
}

.icon-cloud-drizzle:before {
  content: "\E93A";
}

.icon-cloud-lightning:before {
  content: "\E93B";
}

.icon-cloud-off:before {
  content: "\E93C";
}

.icon-cloud-rain:before {
  content: "\E93D";
}

.icon-cloud-snow:before {
  content: "\E93E";
}

.icon-cloud:before {
  content: "\E93F";
}

.icon-code:before {
  content: "\E940";
}

.icon-codepen:before {
  content: "\E941";
}

.icon-command:before {
  content: "\E942";
}

.icon-compass:before {
  content: "\E943";
}

.icon-copy:before {
  content: "\E944";
}

.icon-corner-down-left:before {
  content: "\E945";
}

.icon-corner-down-right:before {
  content: "\E946";
}

.icon-corner-left-down:before {
  content: "\E947";
}

.icon-corner-left-up:before {
  content: "\E948";
}

.icon-corner-right-down:before {
  content: "\E949";
}

.icon-corner-right-up:before {
  content: "\E94A";
}

.icon-corner-up-left:before {
  content: "\E94B";
}

.icon-corner-up-right:before {
  content: "\E94C";
}

.icon-cpu:before {
  content: "\E94D";
}

.icon-credit-card:before {
  content: "\E94E";
}

.icon-crop:before {
  content: "\E94F";
}

.icon-crosshair:before {
  content: "\E950";
}

.icon-database:before {
  content: "\E951";
}

.icon-delete:before {
  content: "\E952";
}

.icon-disc:before {
  content: "\E953";
}

.icon-dollar-sign:before {
  content: "\E954";
}

.icon-download-cloud:before {
  content: "\E955";
}

.icon-download:before {
  content: "\E956";
}

.icon-droplet:before {
  content: "\E957";
}

.icon-edit-2:before {
  content: "\E958";
}

.icon-edit-3:before {
  content: "\E959";
}

.icon-edit:before {
  content: "\E95A";
}

.icon-external-link:before {
  content: "\E95B";
}

.icon-eye-off:before {
  content: "\E95C";
}

.icon-eye:before {
  content: "\E95D";
}

.icon-facebook:before {
  content: "\E95E";
}

.icon-fast-forward:before {
  content: "\E95F";
}

.icon-feather:before {
  content: "\E960";
}

.icon-file-minus:before {
  content: "\E961";
}

.icon-file-plus:before {
  content: "\E962";
}

.icon-file-text:before {
  content: "\E963";
}

.icon-file:before {
  content: "\E964";
}

.icon-film:before {
  content: "\E965";
}

.icon-filter:before {
  content: "\E966";
}

.icon-flag:before {
  content: "\E967";
}

.icon-folder-minus:before {
  content: "\E968";
}

.icon-folder-plus:before {
  content: "\E969";
}

.icon-folder:before {
  content: "\E96A";
}

.icon-gift:before {
  content: "\E96B";
}

.icon-git-branch:before {
  content: "\E96C";
}

.icon-git-commit:before {
  content: "\E96D";
}

.icon-git-merge:before {
  content: "\E96E";
}

.icon-git-pull-request:before {
  content: "\E96F";
}

.icon-github:before {
  content: "\E970";
}

.icon-gitlab:before {
  content: "\E971";
}

.icon-globe:before {
  content: "\E972";
}

.icon-grid:before {
  content: "\E973";
}

.icon-hard-drive:before {
  content: "\E974";
}

.icon-hash:before {
  content: "\E975";
}

.icon-headphones:before {
  content: "\E976";
}

.icon-heart:before {
  content: "\E977";
}

.icon-help-circle:before {
  content: "\E978";
}

.icon-home:before {
  content: "\E979";
}

.icon-image:before {
  content: "\E97A";
}

.icon-inbox:before {
  content: "\E97B";
}

.icon-info:before {
  content: "\E97C";
}

.icon-instagram:before {
  content: "\E97D";
}

.icon-italic:before {
  content: "\E97E";
}

.icon-layers:before {
  content: "\E97F";
}

.icon-layout:before {
  content: "\E980";
}

.icon-life-buoy:before {
  content: "\E981";
}

.icon-link-2:before {
  content: "\E982";
}

.icon-link:before {
  content: "\E983";
}

.icon-linkedin:before {
  content: "\E984";
}

.icon-list:before {
  content: "\E985";
}

.icon-loader:before {
  content: "\E986";
}

.icon-lock:before {
  content: "\E987";
}

.icon-log-in:before {
  content: "\E988";
}

.icon-log-out:before {
  content: "\E989";
}

.icon-mail:before {
  content: "\E98A";
}

.icon-map-pin:before {
  content: "\E98B";
}

.icon-map:before {
  content: "\E98C";
}

.icon-maximize-2:before {
  content: "\E98D";
}

.icon-maximize:before {
  content: "\E98E";
}

.icon-menu:before {
  content: "\E98F";
}

.icon-message-circle:before {
  content: "\E990";
}

.icon-message-square:before {
  content: "\E991";
}

.icon-mic-off:before {
  content: "\E992";
}

.icon-mic:before {
  content: "\E993";
}

.icon-minimize-2:before {
  content: "\E994";
}

.icon-minimize:before {
  content: "\E995";
}

.icon-minus-circle:before {
  content: "\E996";
}

.icon-minus-square:before {
  content: "\E997";
}

.icon-minus:before {
  content: "\E998";
}

.icon-monitor:before {
  content: "\E999";
}

.icon-moon:before {
  content: "\E99A";
}

.icon-more-horizontal:before {
  content: "\E99B";
}

.icon-more-vertical:before {
  content: "\E99C";
}

.icon-move:before {
  content: "\E99D";
}

.icon-music:before {
  content: "\E99E";
}

.icon-navigation-2:before {
  content: "\E99F";
}

.icon-navigation:before {
  content: "\E9A0";
}

.icon-octagon:before {
  content: "\E9A1";
}

.icon-package:before {
  content: "\E9A2";
}

.icon-paperclip:before {
  content: "\E9A3";
}

.icon-pause-circle:before {
  content: "\E9A4";
}

.icon-pause:before {
  content: "\E9A5";
}

.icon-percent:before {
  content: "\E9A6";
}

.icon-phone-call:before {
  content: "\E9A7";
}

.icon-phone-forwarded:before {
  content: "\E9A8";
}

.icon-phone-incoming:before {
  content: "\E9A9";
}

.icon-phone-missed:before {
  content: "\E9AA";
}

.icon-phone-off:before {
  content: "\E9AB";
}

.icon-phone-outgoing:before {
  content: "\E9AC";
}

.icon-phone:before {
  content: "\E9AD";
}

.icon-pie-chart:before {
  content: "\E9AE";
}

.icon-play-circle:before {
  content: "\E9AF";
}

.icon-play:before {
  content: "\E9B0";
}

.icon-plus-circle:before {
  content: "\E9B1";
}

.icon-plus-square:before {
  content: "\E9B2";
}

.icon-plus:before {
  content: "\E9B3";
}

.icon-pocket:before {
  content: "\E9B4";
}

.icon-power:before {
  content: "\E9B5";
}

.icon-printer:before {
  content: "\E9B6";
}

.icon-radio:before {
  content: "\E9B7";
}

.icon-refresh-ccw:before {
  content: "\E9B8";
}

.icon-refresh-cw:before {
  content: "\E9B9";
}

.icon-repeat:before {
  content: "\E9BA";
}

.icon-rewind:before {
  content: "\E9BB";
}

.icon-rotate-ccw:before {
  content: "\E9BC";
}

.icon-rotate-cw:before {
  content: "\E9BD";
}

.icon-rss:before {
  content: "\E9BE";
}

.icon-save:before {
  content: "\E9BF";
}

.icon-scissors:before {
  content: "\E9C0";
}

.icon-search:before {
  content: "\E9C1";
}

.icon-send:before {
  content: "\E9C2";
}

.icon-server:before {
  content: "\E9C3";
}

.icon-settings:before {
  content: "\E9C4";
}

.icon-share-2:before {
  content: "\E9C5";
}

.icon-share:before {
  content: "\E9C6";
}

.icon-shield-off:before {
  content: "\E9C7";
}

.icon-shield:before {
  content: "\E9C8";
}

.icon-shopping-bag:before {
  content: "\E9C9";
}

.icon-shopping-cart:before {
  content: "\E9CA";
}

.icon-shuffle:before {
  content: "\E9CB";
}

.icon-sidebar:before {
  content: "\E9CC";
}

.icon-skip-back:before {
  content: "\E9CD";
}

.icon-skip-forward:before {
  content: "\E9CE";
}

.icon-slack:before {
  content: "\E9CF";
}

.icon-slash:before {
  content: "\E9D0";
}

.icon-sliders:before {
  content: "\E9D1";
}

.icon-smartphone:before {
  content: "\E9D2";
}

.icon-speaker:before {
  content: "\E9D3";
}

.icon-square:before {
  content: "\E9D4";
}

.icon-star:before {
  content: "\E9D5";
}

.icon-stop-circle:before {
  content: "\E9D6";
}

.icon-sun:before {
  content: "\E9D7";
}

.icon-sunrise:before {
  content: "\E9D8";
}

.icon-sunset:before {
  content: "\E9D9";
}

.icon-tablet:before {
  content: "\E9DA";
}

.icon-tag:before {
  content: "\E9DB";
}

.icon-target:before {
  content: "\E9DC";
}

.icon-terminal:before {
  content: "\E9DD";
}

.icon-thermometer:before {
  content: "\E9DE";
}

.icon-thumbs-down:before {
  content: "\E9DF";
}

.icon-thumbs-up:before {
  content: "\E9E0";
}

.icon-toggle-left:before {
  content: "\E9E1";
}

.icon-toggle-right:before {
  content: "\E9E2";
}

.icon-trash-2:before {
  content: "\E9E3";
}

.icon-trash:before {
  content: "\E9E4";
}

.icon-trending-down:before {
  content: "\E9E5";
}

.icon-trending-up:before {
  content: "\E9E6";
}

.icon-triangle:before {
  content: "\E9E7";
}

.icon-truck:before {
  content: "\E9E8";
}

.icon-tv:before {
  content: "\E9E9";
}

.icon-twitter:before {
  content: "\E9EA";
}

.icon-type:before {
  content: "\E9EB";
}

.icon-umbrella:before {
  content: "\E9EC";
}

.icon-underline:before {
  content: "\E9ED";
}

.icon-unlock:before {
  content: "\E9EE";
}

.icon-upload-cloud:before {
  content: "\E9EF";
}

.icon-upload:before {
  content: "\E9F0";
}

.icon-user-check:before {
  content: "\E9F1";
}

.icon-user-minus:before {
  content: "\E9F2";
}

.icon-user-plus:before {
  content: "\E9F3";
}

.icon-user-x:before {
  content: "\E9F4";
}

.icon-user:before {
  content: "\E9F5";
}

.icon-users:before {
  content: "\E9F6";
}

.icon-video-off:before {
  content: "\E9F7";
}

.icon-video:before {
  content: "\E9F8";
}

.icon-voicemail:before {
  content: "\E9F9";
}

.icon-volume-1:before {
  content: "\E9FA";
}

.icon-volume-2:before {
  content: "\E9FB";
}

.icon-volume-x:before {
  content: "\E9FC";
}

.icon-volume:before {
  content: "\E9FD";
}

.icon-watch:before {
  content: "\E9FE";
}

.icon-wifi-off:before {
  content: "\E9FF";
}

.icon-wifi:before {
  content: "\EA00";
}

.icon-wind:before {
  content: "\EA01";
}

.icon-x-circle:before {
  content: "\EA02";
}

.icon-x-square:before {
  content: "\EA03";
}

.icon-x:before {
  content: "\EA04";
}

.icon-youtube:before {
  content: "\EA05";
}

.icon-zap-off:before {
  content: "\EA06";
}

.icon-zap:before {
  content: "\EA07";
}

.icon-zoom-in:before {
  content: "\EA08";
}

.icon-zoom-out:before {
  content: "\EA09";
}

.container {
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  margin: 10px 0;
  padding: 0 15px;
}

a {
  color: #000000;
}

.is-mobile .nav-menu {
  display: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.3125rem;
  border: solid 1px #e5e5e5;
}

.header-top__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: solid 1px #e5e5e5;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header-top__logo-box:hover {
  background-color: #f5f5f5;
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.header-top__nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  width: 100%;
}

.header-top__nav_item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  border: solid 1px #e5e5e5;
  border-radius: 5px 0 0 5px;
  height: 2.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__nav_item1:hover {
  -webkit-box-shadow: 1px 1px 2px 2px #e9e8e8;
          box-shadow: 1px 1px 2px 2px #e9e8e8;
}

.header-top__nav_item1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0 25px;
  color: #000000;
}

.header-top__nav_item1 a p {
  padding: 0 8px;
}

.header-top__nav_item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #e5e5e5;
  border-radius: 0 5px 5px 0;
  height: 2.75rem;
  margin-right: 1.25rem;
}

.header-top__nav_item2 input {
  font-size: 0.75rem;
  text-indent: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-top__nav_item2 a {
  padding: 0.75rem;
  text-decoration: none;
}

.header-top__nav_item2 a:hover {
  background-color: #e5e5e5;
}

.header-top__nav_item2 .icon-search:before {
  font-size: 1.125rem;
}

.header-top__nav_item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-top__nav_item3 :nth-child(2) span.count {
  position: absolute;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.9rem;
  border: solid 1px #e6e6e6;
  border-radius: 50%;
  background-color: #f5f5f5;
  right: 28%;
  top: 20%;
}

.header-top__nav_item3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  border-left: solid 1px #e5e5e5;
}

.header-top__nav_item3 li:hover {
  background-color: #f5f5f5;
}

.header-top__nav_item3 li a {
  text-align: center;
  text-decoration: none;
  padding: 1.5625rem;
}

.header-top__nav_item3 li a.signIn, .header-top__nav_item3 li a.signUp {
  padding: 0;
}

.header-top__nav_item3 li:last-child {
  padding: 25px 15px;
}

.header-top__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: solid 1px #e5e5e5;
  height: 100%;
}

.header-top__cart:hover {
  background-color: #f5f5f5;
}

.header-top__cart a {
  padding: 1.5625rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  position: relative;
}

a.signIn,
a.signUp {
  padding: 0;
}

.header-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  border: solid 1px #e5e5e5;
}

.header-bottom__menu_item a {
  display: block;
  text-decoration: none;
  padding: 1.25rem;
  color: #000;
  border-top: solid 2px transparent;
}

.header-bottom__menu_item a:hover {
  color: #0b7fdc;
  border-top: solid 2px #0b7fdc;
}

span.cartCount {
  position: absolute;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.9rem;
  border: solid 1px #e6e6e6;
  border-radius: 50%;
  background-color: #f5f5f5;
  right: 26%;
  top: 20%;
}

.toggle-menu {
  width: 30px;
  z-index: 10;
  display: none;
  text-align: center;
  margin: auto;
}

.toggle-menu p {
  padding-top: 8px;
}

.is-mobile .toggle-menu {
  display: block;
}

.toggle-menu span {
  display: block;
  height: 2px;
  background: #000000;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.toggle-menu span:last-of-type {
  margin-bottom: 0;
}

.toggle-menu.active {
  margin-top: 5px;
}

.toggle-menu.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -2px;
}

.toggle-menu.active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0;
}

.toggle-menu.active span:nth-of-type(3) {
  opacity: 0;
}

@media only screen and (min-width: 220px) and (max-width: 992px) {
  .header-top__logo-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-top__logo-box a {
    margin: auto;
  }
  .header-top__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 25px;
  }
  .header-top__nav_item1 {
    border: none;
    border-radius: 0;
    border-top: solid 1px #e5e5e5;
    background-color: white;
    border-right: solid 1px #e5e5e5;
    border-left: solid 1px #e5e5e5;
  }
  .header-top__nav_item1:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-top__nav_item1 a {
    width: 100%;
    padding: 0 20px;
  }
  .header-top__nav_item1 a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
  }
  .header-top__nav_item1 span {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .header-top__nav_item2 {
    margin: 10px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .header-top__nav_item3 {
    border: solid 1px #e5e5e5;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
  }
  .header-top__nav_item3 li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-top__nav_item3 li:first-child {
    border-left: none;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f5f5f5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1px;
  }
  .header-bottom {
    margin-bottom: 20px;
  }
  .header-bottom__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .header-bottom__menu_item {
    border-bottom: solid 1px #e5e5e5;
  }
  .header-bottom__menu_item p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-bottom__menu_item a {
    border-top: none;
  }
  .header-bottom__menu_item a:hover {
    border-top: none;
  }
  .header-bottom__menu :last-child {
    border-bottom: none;
  }
  #shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
