body {
    background-color: black;
    color: yellow;
    position: relative;
}
.header {
    text-align: center;
    color: yellow;

}
.header__top{
    font-size: 50px;
}
.container{
    position: absolute;
    top:70px;
    left:50px;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    border: 1px solid yellow;
    perspective: 1000px;
    }
.left, .right{
    width: 49%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.hide{
    display:none;
}
.show{
    display: block;
}
select{
    background-color: yellow;
    margin-top: 20px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}
.right{
    transition:3s;
    transform: rotateX(55deg);
}
.right-origin{
    transform: rotate(0);
    transition:3s;
}
