@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700,900);@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

*:active, :focus {
  outline: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../i/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  line-height: 1;
  color: #000000;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  top: 53%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.slick-dots li button {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 700;
  opacity: .5;
  /*&:before {
          position: absolute;
          top: 0;
          left: 0;
          content: $slick-dot-character;
          width: 20px;
          height: 20px;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 20px;
          text-align: center;
          color: $slick-dot-color;
          opacity: $slick-opacity-not-active;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }*/
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  color: #fdd47b;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li.slick-active button {
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 50px 10px #edecec;
          box-shadow: 0 0 50px 10px #edecec;
}

.slick-prev,
.slick-next {
  color: black;
  z-index: 1;
  top: 39%;
}

@media screen and (max-width: 767.9px) {
  .container-top__media {
    display: none;
  }
  .logoNextPage {
    display: none;
  }
}

.container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../i/bgbottom.png) bottom no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.container-bottom__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.container-bottom h2 {
  color: #ffffff;
  font-size: 1.875rem;
  margin-top: 2.8125rem;
}

.container-bottom .button {
  border: solid 2px #fdd47b;
  font-size: 0.875rem;
  padding: 8px 35px;
  margin-top: 5.3125rem;
  color: #fdd47b;
  background: transparent;
  cursor: pointer;
}

.container-bottom .button:hover {
  background: #000000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 1px #424345;
}

.footer__copyright {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-bottom: 20px;
}

.footer__copyright a {
  color: #fdd47b;
  text-decoration: none;
}

.footer__copyright a span {
  color: #424345;
}

.footer__copyright a span:hover {
  color: #fdd47b;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox {
  padding-bottom: 10px;
}

.footer__metabox a {
  color: #424345;
  padding: 0 17px;
  font-size: 1.125rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox a:hover {
  color: #fdd47b;
}

.footer__item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-bottom: 0.625rem;
}

.footer__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fdd47b;
}

.modal {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  color: #fdd47b;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.formbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formbox input, .formbox textarea {
  border-top: 2px solid #fdd47b;
  border-bottom: 2px solid #fdd47b;
  border-left: 1px solid #fdd47b;
  border-right: 1px solid #fdd47b;
  line-height: 1.875rem;
  font-size: 1.25rem;
  color: #edecec;
  margin: 10px 0;
  background: transparent;
  text-indent: 1.25rem;
}

.formbox button {
  color: #fdd47b;
  border: solid 2px #fdd47b;
  width: 100px;
  height: 30px;
  margin: 30px auto;
  text-transform: uppercase;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Rubik", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.container-top__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 99%;
  border-left: solid 2px #edecec;
  border-right: solid 2px #edecec;
}

.container-top__header h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0 50px #dcdbdb;
  margin: 3.125rem 0;
}

.container-top__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edecec;
}

.container-top__model_content {
  padding: 50px 40px;
  font-family: "Rubik", sans-serif;
}

.container-top__model_content h2 {
  font-size: 0.75rem;
  opacity: .5;
}

.container-top__model_content .title {
  margin: 0 auto;
  padding-bottom: 10px;
  font-weight: 900;
  text-align: left;
}

.container-top__model_content .title button {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 16px 35px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.5rem;
}

.container-top__model_content .title button:hover {
  color: #fdd47b;
}

.container-top__model_content .title button::after {
  content: '';
  position: absolute;
  border: solid 2px #fdd47b;
  width: 9.5625rem;
  bottom: 0;
  -webkit-transform: translateX(-87%);
          transform: translateX(-87%);
}

.slider-box__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.slider-box__slider_item img {
  margin: 0 auto;
}

.slider-box__slider_item h2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 80px;
  padding-bottom: 16px;
}

.slider-box__slider_item h3 {
  color: #919191;
  padding-bottom: 30px;
}

.slider-box__slider p {
  font-family: "Rubik", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  opacity: .5;
}

@media only screen and (min-width: 220px) and (max-width: 767.9px) {
  figure {
    position: relative;
  }
  .slick-dots {
    display: inline;
    position: absolute;
    margin-top: -18%;
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 5%;
  }
}

@media only screen and (min-width: 220px) {
  .slick-active button {
    position: relative;
  }
  .slick-active button::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 8px;
    bottom: -8px;
    left: 0;
    background-color: #fdd47b;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .slick-dots {
    top: 51%;
  }
  .slick-prev, .slick-next {
    top: 58%;
  }
  .slick-prev {
    left: 20%;
  }
  .slick-next {
    right: 20%;
  }
}

@media only screen and (min-width: 768px) {
  img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: solid 1px #424345;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-bottom: 20px;
  }
  .footer__copyright a {
    color: #fdd47b;
    text-decoration: none;
  }
  .footer__copyright a span {
    color: #424345;
  }
  .footer__copyright a span:hover {
    color: #fdd47b;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .footer__metabox {
    padding-bottom: 10px;
  }
  .footer__metabox a {
    color: #424345;
    padding: 0 17px;
    font-size: 1.125rem;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .footer__metabox a:hover {
    color: #fdd47b;
  }
  .footer__item {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-bottom: 0.625rem;
  }
  .footer__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fdd47b;
  }
  .logoNextPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 15px 0;
    padding-right: 25px;
    text-transform: uppercase;
    color: #424345;
    width: 100%;
  }
  .modal {
    position: -webkit-sticky;
    position: sticky;
  }
  .formbox {
    width: 40%;
  }
  .container-top {
    min-height: 70vh;
    position: relative;
  }
  .container-top__header {
    position: absolute;
    border: none;
    max-width: 50%;
    left: 5%;
    top: 0;
  }
  .container-top__header h1 {
    font-size: 8vw;
    width: 50%;
    z-index: 1;
  }
  .container-top__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    position: absolute;
    margin-top: 15%;
    right: 20px;
  }
  .container-top__media_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    top: 10%;
    right: 20px;
  }
  .container-top__media_item a {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    opacity: .3;
    cursor: pointer;
    position: relative;
  }
  .container-top__media_item a:hover {
    background-color: rgba(237, 237, 236, 0.2);
    opacity: 1;
    color: #fdd47b;
  }
  .container-top__media a {
    padding-top: 15px;
  }
  .container-top__media a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container-top__media a:hover::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 0;
    border-top: solid 2px #000000;
    top: 50%;
    left: 85%;
  }
  .container-top__media button {
    border-bottom: solid 2px #edecec;
  }
  .container-top__model_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: solid 1px #c6c5c5;
    padding: 0;
    width: 60%;
    margin-left: 26.5%;
    margin-right: 12.5%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .container-top__model_content h2 {
    margin-top: 3%;
    margin-left: 8%;
    padding-bottom: 8px;
    font-size: 0.625rem;
  }
  .container-top__model_content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
  }
  .container-top__model_content .title button {
    margin-top: 0;
    font-size: 0.5rem;
    font-weight: 500;
    padding: 0 10px;
  }
  .container-top__model_content .title button::after {
    width: 90%;
    -webkit-transform: translateX(-97%);
            transform: translateX(-97%);
  }
  .span {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    opacity: .2;
    cursor: pointer;
    position: relative;
  }
  .span:hover {
    background-color: rgba(237, 237, 236, 0.2);
    opacity: 1;
    color: #fdd47b;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .slider-box {
    position: absolute;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    margin-top: 15%;
    margin-left: 16%;
    right: 13%;
    max-width: 60%;
    height: auto;
    background: #ffffff;
  }
  .slider-box__slider {
    margin: 17% 10% 8% 15%;
    max-width: 80%;
  }
  .slider-box__slider_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .slider-box__slider_item img {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider-box__slider_item .item-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    margin: auto 0;
  }
  .slider-box__slider_item .item-title h2, .slider-box__slider_item .item-title h3 {
    white-space: nowrap;
    margin: 0 auto;
    padding: 5px 10px;
  }
  .slider-box__slider_item .item-title h2 {
    font-size: 1.125rem;
  }
  .slider-box__slider_item .item-title h3 {
    font-size: 0.875rem;
  }
  .slider-box__slider p {
    line-height: 1rem;
    font-size: 0.625rem;
    max-width: 50%;
    margin-top: 40px;
  }
  .slick-next {
    top: 92%;
    right: 10%;
  }
  .slick-next:hover {
    color: #fdd47b;
  }
  .slick-next:before {
    content: "\2193";
  }
  .slick-next:after {
    position: absolute;
    content: 'next process';
    text-transform: uppercase;
    font-size: 0.625rem;
    color: #000000;
    opacity: 0.75;
    width: 100px;
    left: -95px;
    bottom: 5px;
  }
  .slick-next:after:hover {
    color: #fdd47b;
  }
  .slick-prev {
    top: 5%;
    left: 90%;
  }
  .slick-prev:before {
    content: '\2191';
  }
  .slick-prev:after {
    position: absolute;
    content: 'previous process';
    text-transform: uppercase;
    font-size: 0.625rem;
    color: #000000;
    opacity: 0.75;
    width: 110px;
    left: -111px;
    bottom: 2px;
  }
  .slick-prev:after:hover {
    color: #fdd47b;
  }
  .slick-dots {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-shadow: 0 0 20px 10px #edecec;
            box-shadow: 0 0 20px 10px #edecec;
    position: absolute;
    width: auto;
    left: -55%;
    top: 45%;
    /*&:before {
        opacity: 1;
  }*/
  }
  .slick-dots li {
    background-color: #ffffff;
    border-right: solid 2px #edecec;
    border-bottom: none;
    cursor: pointer;
  }
  .slick-dots li button {
    position: relative;
    font-size: 0.75rem;
    /*&:before {
        content: '';
        position: absolute;
        width: 2px;
        bottom: rem(-230px);
        left: rem(21px);
        height: 200px;
        background-color: $gold;
        opacity: 0;
      }*/
  }
  .slick-dots li button:after {
    content: 'Process Name';
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    white-space: nowrap;
    bottom: -4rem;
    left: -1.3rem;
    font-weight: 400;
  }
  .slick-dots li button:hover, .slick-dots li button:focus {
    color: #fdd47b;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .slick-dots li.slick-active button {
    color: #fdd47b;
  }
  .slick-dots li.slick-active button:before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 4px;
    top: -4px;
    left: 0;
    background-color: #fdd47b;
  }
  .slick-dots li.slick-active button:after {
    content: '';
    position: absolute;
    width: 8rem;
    height: 1px;
    bottom: -5rem;
    left: -2.875rem;
    background-color: #fdd47b;
  }
}

@media only screen and (min-width: 992px) {
  .logoNextPage {
    padding-right: 7%;
  }
  .formbox {
    width: 30%;
  }
  .container-top {
    min-height: 90vh;
    position: relative;
  }
  .container-top__header {
    position: absolute;
    border: none;
    max-width: 50%;
    left: 0;
    top: 0;
  }
  .container-top__header h1 {
    font-size: 8vw;
    width: 50%;
    z-index: 1;
    margin: 4rem 12.5rem;
  }
  .container-top__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    position: absolute;
    margin-top: 15%;
    right: 40px;
  }
  .container-top__media_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    top: 10%;
    right: 20px;
  }
  .container-top__media_item a {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    opacity: .2;
    cursor: pointer;
    position: relative;
  }
  .container-top__media_item a:hover {
    background-color: rgba(237, 237, 236, 0.2);
    opacity: 1;
    color: #fdd47b;
  }
  .container-top__media a {
    padding-top: 15px;
  }
  .container-top__media a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container-top__media a:hover::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 0;
    border-top: solid 2px #000000;
    top: 50%;
    left: 85%;
  }
  .container-top__media button {
    border-bottom: solid 2px #edecec;
  }
  .container-top__model h2 {
    margin-left: 6%;
    font-size: 1rem;
  }
  .container-top__model_content {
    border: solid 1px #c6c5c5;
    margin: auto;
    width: 60%;
    margin-left: 26.5%;
    margin-right: 12.5%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .container-top__model_content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2.25rem;
    font-weight: 500;
  }
  .container-top__model_content .title button {
    margin-top: 0;
    font-size: 0.625rem;
    font-weight: 500;
    padding: 16px 30px;
  }
  .container-top__model_content .title button::after {
    width: 90%;
    -webkit-transform: translateX(-89%);
            transform: translateX(-89%);
  }
  .span {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    opacity: .2;
    cursor: pointer;
    position: relative;
  }
  .span:hover {
    background-color: rgba(237, 237, 236, 0.2);
    opacity: 1;
    color: #fdd47b;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .slider-box {
    position: absolute;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    margin-top: 15%;
    margin-left: 16%;
    right: 13%;
    max-width: 60%;
    height: auto;
    background: #ffffff;
  }
  .slider-box__slider {
    margin: 15% 10% 8% 15%;
  }
  .slider-box__slider_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .slider-box__slider_item img {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider-box__slider_item .item-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    margin: auto 0;
  }
  .slider-box__slider_item .item-title h2, .slider-box__slider_item .item-title h3 {
    white-space: nowrap;
    margin: 0 auto;
    padding: 5px 10px;
  }
  .slider-box__slider_item .item-title h2 {
    font-size: 2rem;
  }
  .slider-box__slider p {
    line-height: 1.5rem;
    font-size: 0.875rem;
    max-width: 50%;
    margin-top: 40px;
  }
  .slick-next {
    top: 92%;
    right: 10%;
  }
  .slick-next:hover {
    color: #fdd47b;
  }
  .slick-next:before {
    content: "\2193";
  }
  .slick-next:after {
    position: absolute;
    content: 'next process';
    text-transform: uppercase;
    font-size: 0.625rem;
    color: #000000;
    opacity: 0.75;
    width: 100px;
    left: -95px;
    bottom: 5px;
  }
  .slick-next:after:hover {
    color: #fdd47b;
  }
  .slick-prev {
    top: 5%;
    left: 90%;
  }
  .slick-prev:before {
    content: '\2191';
  }
  .slick-prev:after {
    position: absolute;
    content: 'previous process';
    text-transform: uppercase;
    font-size: 0.625rem;
    color: #000000;
    opacity: 0.75;
    width: 110px;
    left: -111px;
    bottom: 2px;
  }
  .slick-prev:after:hover {
    color: #fdd47b;
  }
  .slick-dots {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-shadow: 0 0 20px 10px #edecec;
            box-shadow: 0 0 20px 10px #edecec;
    position: absolute;
    width: auto;
    left: -30%;
    top: 40%;
    /*&:before {
   opacity: 1;
}*/
  }
  .slick-dots li {
    background-color: #ffffff;
    border-right: solid 2px #edecec;
    border-bottom: none;
    cursor: pointer;
  }
  .slick-dots li button {
    position: relative;
    /*&:before {
     content: '';
     position: absolute;
     width: 2px;
     bottom: rem(-230px);
     left: rem(21px);
     height: 200px;
     background-color: $gold;
     opacity: 0;
   }*/
  }
  .slick-dots li button:after {
    content: 'Process Name';
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    white-space: nowrap;
    bottom: -5.9375rem;
    left: -1.875rem;
    font-weight: 400;
  }
  .slick-dots li button:hover, .slick-dots li button:focus {
    color: #fdd47b;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .slick-dots li.slick-active button {
    color: #fdd47b;
  }
  .slick-dots li.slick-active button:before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 8px;
    top: -8px;
    left: 0;
    background-color: #fdd47b;
  }
  .slick-dots li.slick-active button:after {
    content: '';
    position: absolute;
    width: 8rem;
    height: 1px;
    bottom: -5.9375rem;
    left: -2.875rem;
    background-color: #fdd47b;
  }
}
