@import url(https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,700,800);@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

*:active, :focus {
  outline: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../i/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.container-fluid {
  font-family: "Ubuntu", sans-serif;
  max-width: 1920px;
  min-height: 100vh;
  padding: 0 10px;
}

h1 {
  grid-column: 2/9;
  position: absolute;
  font-size: 8.75rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0 50px #edecec;
  z-index: 10;
}

.container-top__model {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  grid-row: 9/13;
  background-color: rgba(237, 236, 236, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-top__model_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #c6c5c5;
  padding: 50px 80px 65px;
  max-width: 1160px;
  grid-column: 3/12;
  margin: 200px 0 100px;
}

.container-top__model_content h2 {
  display: inline;
  font-size: 1.125rem;
  opacity: .5;
}

.container-top__model_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-top__model_content .title p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  font-size: 2.8125rem;
  font-weight: 800;
}

.container-top__model_content .title button {
  width: 17.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px 10px #cccccc;
          box-shadow: 0 0 50px 10px #cccccc;
}

.container-top__model_content .title button::after {
  content: '';
  position: absolute;
  border: solid 2px #fdd47b;
  width: 15rem;
  bottom: 0;
  -webkit-transform: translateX(-92%);
          transform: translateX(-92%);
}

.container-top__model_content .title button:hover {
  color: #fdd47b;
  -webkit-box-shadow: 0 0 40px 10px #cccccc;
          box-shadow: 0 0 40px 10px #cccccc;
}

.container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../i/bgbottom.png) bottom no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.container-bottom__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-bottom__header h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-top: 5.3125rem;
}

.container-bottom__header .button {
  border: solid 2px #fdd47b;
  font-size: 1.25rem;
  padding: 16px 70px;
  margin-top: 5.3125rem;
  color: #fdd47b;
  background: transparent;
  cursor: pointer;
}

.container-bottom__header .button:hover {
  background: #000000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: solid 1px #424345;
}

.footer__copyright a {
  color: #fdd47b;
  text-decoration: none;
}

.footer__copyright a span {
  color: #424345;
}

.footer__copyright a span:hover {
  color: #fdd47b;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox a {
  color: #424345;
  padding: 0 17px;
  font-size: 1.125rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox a:hover {
  color: #fdd47b;
}

.footer__item {
  padding-bottom: 2.5rem;
}

.footer__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fdd47b;
}

.logoNextPage {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  padding: 27px 100px 55px;
  color: #424345;
}

.container-top {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.container-top__media {
  grid-column: 12;
  grid-row: 2/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 50px 10px #edecec;
          box-shadow: 0 0 50px 10px #edecec;
  margin: auto;
  margin-top: 0;
}

.container-top__media button, .container-top__media a {
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 30px;
  color: #000000;
  opacity: .2;
  cursor: pointer;
  position: relative;
}

.container-top__media button:hover, .container-top__media a:hover {
  background-color: rgba(237, 237, 236, 0.2);
  opacity: 1;
  font-size: 35px;
}

.container-top__media a {
  padding-top: 15px;
}

.container-top__media a:hover::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 0;
  border-top: solid 2px #000000;
  top: 50%;
  left: 85%;
}

.container-top__media button {
  border-bottom: solid 2px #edecec;
}

.container-top__page {
  position: absolute;
  -webkit-box-shadow: 0 0 50px 10px #edecec;
          box-shadow: 0 0 50px 10px #edecec;
  grid-column: 1;
  grid-row: 6/10;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -40px;
  font-weight: 700;
  z-index: 2;
}

.container-top__page_item {
  cursor: pointer;
  width: 4.8125rem;
  height: 4.6875rem;
  position: relative;
  border-right: solid 2px #edecec;
  border-top: 8px solid transparent;
  font-weight: 700;
  opacity: .5;
}

.container-top__page_item:hover {
  border-top: 8px solid #fdd47b;
  color: #fdd47b;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.container-top__page_item:hover::after {
  content: '';
  position: absolute;
  width: 150px;
  border-top: solid 2px #fdd47b;
  left: -50%;
}

.container-top__page_item::after {
  content: 'Proccess Name';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: -6.25rem;
  white-space: nowrap;
  left: -0.625rem;
}

i {
  margin: auto;
}

.slider-box {
  grid-column: 3/12;
  grid-row: 2/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1160px;
  max-height: 915px;
  -webkit-box-shadow: 0 0 50px 10px #e9e9e9;
          box-shadow: 0 0 50px 10px #e9e9e9;
  margin: auto;
  background-color: #ffffff;
  z-index: 1;
}

.slider-box span {
  font-size: 1.875rem;
}

.slider-box .next, .slider-box .prev {
  position: absolute;
  right: 50px;
  opacity: .5;
  cursor: pointer;
  word-spacing: 10px;
  text-transform: uppercase;
}

.slider-box .next:hover, .slider-box .prev:hover {
  color: #fdd47b;
}

.slider-box .next {
  bottom: 60px;
}

.slider-box .prev {
  top: 60px;
}

.slider-box__slider {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  max-width: 930px;
  margin: 280px 90px 150px 140px;
}

.slider-box__slider_title {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  padding: 0 45px;
}

.slider-box__slider_title h2 {
  font-size: 3rem;
  font-weight: 800;
  white-space: nowrap;
}

.slider-box__slider_title h3 {
  font-size: 1.4375rem;
  opacity: .5;
  font-weight: bold;
}

.slider-box__slider img {
  grid-row: 1/2;
}

.slider-box__slider p {
  grid-row: 2/3;
  margin: auto;
  line-height: 2rem;
  font-weight: 400;
}
