@import url(https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,700,800);@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

td,
th {
  padding: 0;
  text-align: left;
}

*:active, :focus {
  outline: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../i/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  line-height: 1;
  color: #000000;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  top: 53%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.slick-dots li button {
  cursor: pointer;
  width: 2.8125rem;
  height: 2.8125rem;
  border-right: solid 2px #edecec;
  border-bottom: 8px solid transparent;
  font-weight: 700;
  opacity: .5;
  /*&:before {
          position: absolute;
          top: 0;
          left: 0;
          content: $slick-dot-character;
          width: 20px;
          height: 20px;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 20px;
          text-align: center;
          color: $slick-dot-color;
          opacity: $slick-opacity-not-active;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }*/
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  border-bottom: 8px solid #fdd47b;
  color: #fdd47b;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #fdd47b;
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 50px 10px #edecec;
          box-shadow: 0 0 50px 10px #edecec;
}

.slick-prev,
.slick-next {
  color: black;
  z-index: 1;
  top: 50%;
}

@media screen and (max-width: 767.9px) {
  .container-top__media {
    display: none;
  }
  .logoNextPage {
    display: none;
  }
}

.container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../i/bgbottom.png) bottom no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.container-bottom__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.container-bottom h2 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 2.8125rem;
}

.container-bottom .button {
  border: solid 2px #fdd47b;
  font-size: 1.25rem;
  padding: 16px 70px;
  margin-top: 5.3125rem;
  color: #fdd47b;
  background: transparent;
  cursor: pointer;
}

.container-bottom .button:hover {
  background: #000000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 1px #424345;
}

.footer__copyright {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-bottom: 20px;
}

.footer__copyright a {
  color: #fdd47b;
  text-decoration: none;
}

.footer__copyright a span {
  color: #424345;
}

.footer__copyright a span:hover {
  color: #fdd47b;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox {
  padding-bottom: 10px;
}

.footer__metabox a {
  color: #424345;
  padding: 0 17px;
  font-size: 1.125rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__metabox a:hover {
  color: #fdd47b;
}

.footer__item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-bottom: 0.625rem;
}

.footer__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fdd47b;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.container-top__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 99%;
  border-left: solid 2px #edecec;
  border-right: solid 2px #edecec;
}

.container-top__header h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0 50px #dcdbdb;
  margin: 3.125rem 0;
}

.container-top__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edecec;
}

.container-top__model_content {
  padding: 52px 0 65px;
  font-family: "Ubuntu", sans-serif;
}

.container-top__model_content .title {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1.375rem;
  font-weight: 700;
  text-align: left;
}

.container-top__model_content .title h2 {
  font-size: 1rem;
  opacity: .5;
}

.container-top__model_content .title button {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 16px 35px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.container-top__model_content .title button:hover {
  color: #fdd47b;
}

.container-top__model_content .title button::after {
  content: '';
  position: absolute;
  border: solid 2px #fdd47b;
  width: 15rem;
  bottom: 0;
  -webkit-transform: translateX(-92%);
          transform: translateX(-92%);
}

.slider-box__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.slider-box__slider img {
  margin: 0 auto;
  padding-bottom: 80px;
}

.slider-box__slider h2 {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 16px;
}

.slider-box__slider h3 {
  color: #919191;
  padding-bottom: 30px;
}

/*
.slick-dots{
  //display: inline;
  //align-self: center;
  position: absolute;
 top:43%;
  box-shadow: 0 0 20px 10px $grey;
  //margin:0 auto;
  width: auto;
}
.slick-next{
  position: absolute;
  top:50%;
  right:0;
  background-color: black;
}
.slick-prev{
  position: absolute;
  top:50%;
  left:0;
}*/
@media only screen and (min-width: 220px) and (max-width: 767.9px) {
  /*.slick-dotted{
 text-align: center;
}*/
  .slick-dots {
    display: inline;
    position: absolute;
    top: 43%;
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 5%;
  }
  /* .slick-dots {
     //position: absolute;
     top: 53%;
     list-style: none;
     display: block;
     text-align: center;
     padding: 0;
     margin: 0;
     width: 100%;
     li {
       //position: relative;
       display: inline-block;
       //height: 20px;
       //width: 20px;
       margin: 0;
       padding: 0;
       background-color: $white;
       cursor: pointer;
       button {
         cursor: pointer;
         width: rem(45px);
         height: rem(45px);
         //position: relative;
         border-right: solid 2px $grey;
         border-bottom: 8px solid transparent;
         font-weight: 700;
         opacity: .5;
         &:hover, &:focus {
           outline: none;
           border-bottom: 8px solid $gold;
           color:$gold;
           opacity: 1;
           transition: .7s;
           &:before {
             opacity: $slick-opacity-on-hover;
           }
         }
         !*&:before {
             position: absolute;
             top: 0;
             left: 0;
             content: $slick-dot-character;
             width: 20px;
             height: 20px;
             font-family: $slick-font-family;
             font-size: $slick-dot-size;
             line-height: 20px;
             text-align: center;
             color: $slick-dot-color;
             opacity: $slick-opacity-not-active;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
         }*!
       }
       &.slick-active button:before {
         color: $gold;
         opacity: $slick-opacity-default;
       }
     }
   }

*/
}

@media only screen and (min-width: 768px) {
  /*
.slick-dots{
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  text-align: right;
  left:-50%;
  top:100%;
}*/
  .container-top {
    min-height: 100vh;
    position: relative;
  }
  .container-top__header {
    position: absolute;
    border: none;
    max-width: 50%;
    z-index: 10;
    left: 0;
    top: 0;
  }
  .container-top__header h1 {
    font-size: 100px;
  }
  .container-top__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    position: absolute;
    top: 10%;
    right: 20px;
  }
  .container-top__media button, .container-top__media a {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    opacity: .2;
    cursor: pointer;
    position: relative;
  }
  .container-top__media button:hover, .container-top__media a:hover {
    background-color: rgba(237, 237, 236, 0.2);
    opacity: 1;
    font-size: 35px;
  }
  .container-top__media a {
    padding-top: 15px;
  }
  .container-top__media a:hover::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 0;
    border-top: solid 2px #000000;
    top: 50%;
    left: 85%;
  }
  .container-top__media button {
    border-bottom: solid 2px #edecec;
  }
  .slider-box {
    -webkit-box-shadow: 0 0 50px 10px #edecec;
            box-shadow: 0 0 50px 10px #edecec;
    margin-top: 10%;
    margin-left: 16%;
    max-width: 70%;
  }
  .slider-box__slider {
    margin: 150px 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
  }
  .slider-box__slider img {
    display: inline;
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 50%;
  }
  .slider-box__slider h2, .slider-box__slider h3 {
    grid-column: 2;
    grid-row: 2;
    display: inline;
  }
}
